<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>About Me</title>
  </head>
    <body style="width:80vw;margin:auto;">
    <header>
        <header>
            <% include ./partials/nav %>
        </header>
    </header>
    <h1 class="text-primary">About Me</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis at
      mollitia id modi natus rerum delectus vitae molestiae. Facere, in modi
      saepe cumque minima consequuntur molestiae, illum eveniet assumenda iure
      reiciendis! Iste repellendus fugit ab quidem unde eaque, repellat, autem
      soluta deserunt ex vel eum est reprehenderit error id iure nam illum
      voluptate minus enim. Quos excepturi minima quod? Impedit?
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Tenetur sed ad
      sint harum aliquid vitae dolores quaerat possimus maxime nulla. Harum
      quaerat quia tempore maiores non dolores minima libero unde quod! Corporis
      quo ullam eum tempore natus accusamus aspernatur nemo iusto ea, veritatis
      hic quia, dolor similique officia porro officiis. Optio unde illo
      laboriosam, at mollitia sequi a provident consequatur labore facilis. A
      assumenda iure similique corporis? Quibusdam, amet consequatur!
    </p>
  </head>
  </body>
</html>
