<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Guest Book</title>
  </head>
  <body>
    <table style="border: 1px solid black;margin:auto;">
      <tr style="border: 1px solid black;">
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
      <% result.forEach(function(item){ %>
      <tr style="border: 1px solid black;">
        <td style="border: 1px solid black;"><%= item.firstname %></td>
        <td style="border: 1px solid black;"><%= item.lastname %></td>
        <td style="border: 1px solid black;"><%= item.email %></td>
        <% }) %>
      </tr>
    </table>
  </body>
</html>
